<div class="txt">
	<div class="txt__container">
		@@include('../breadcrumbs/breadcrumbs.html')

		<h1>О нас</h1>

		<div class="txt__row">
			<div class="txt__img">
				<img src="./images/content-img_453-303.jpg" alt="foto">
				<div class="txt__img--desc">
					Подпись к фотографии.
				</div>
			</div>
			<div class="txt__box txt__box--60">
				<p class="text__colorize">
					Компания «Миссадена» - это многопрофильная медицинская компания (лицензия № ЛО-61-01-002268), оказывающая профессиональную сервисную поддержку в организации услуг в различных сферах жизни человека.
				</p>
				<p>
					Наша цель – обеспечение Вашего комфорта как единства здоровья тела и души, Вашей безопасности и уверенности в завтрашнем дне.
				</p>
				<p>
					Наша команда –  это профессионалы, прошедшие серьезную школу работы в ведущих международных сервисных компаниях, это высококвалифицированные врачи со знанием английского, французского, немецкого, испанского языков, имеющие опыт работы в странах Европы и США, это доброжелательные и всегда готовые прийти на помощь медицинские координаторы. Руководствуясь качеством как главным критерием, мы стремимся соответствовать ожиданиям наших клиентов.
				</p>
			</div>
		</div>
	</div>
	<div class="slider-mini">
		<div class="txt__container">
			<div class="slider-mini__desc">
				<div class="slider-mini__title">
					Партнеры Миссандены
				</div>
				<p>Фармацевтические, страховые, транспортные компании.</p>
			</div>
		    <div class="wrap">
		    	<div class="nav--btn">
			    	<a  href="#" class="nav nav--prev"></a>
		    		<a  href="#" class="nav nav--next"></a>
			    </div>
		    	<div class="wrap2">
			        <ul class="slider__wrapper">
			            <li><img src="./images/parters.png" alt="parters"></li>
			            <li><img src="./images/parters-2.png" alt="parters"></li>
			            <li><img src="./images/parters-3.png" alt="parters"></li>
			            <li><img src="./images/parters.png" alt="parters"></li>
			            <li><img src="./images/parters-2.png" alt="parters"></li>
			            <li><img src="./images/parters-3.png" alt="parters"></li>
			        </ul>
			    </div>
		    </div>
		</div>
	</div>
	<div class="txt__container">
		<div class="txt__box content__boxs">
			<h4 class="box__title">Наши услуги:</h4>
			<p>
				Медицинский ассистанс: организация скорой медицинской помощи, амбулаторной помощи, плановой и экстренной госпитализации детей и взрослых в ведущие лечебные учреждения в России и за рубежом,  медицинской транспортировки и сопровождения.
			</p>
			<p>
				Страхование детей и взрослых
			</p>
		</div>
		<div class="txt__box content__boxs">
		<h4 class="box__title">Наши преимущества:</h4>
		<p>
			Медицинский ассистанс: организация скорой медицинской помощи, амбулаторной помощи, плановой и экстренной госпитализации детей и взрослых в ведущие лечебные учреждения в России и за рубежом,  медицинской транспортировки и сопровождения.
		</p>
		<p>
			Страхование детей и взрослых
		</p>
		</div>
		<div class="txt__box content__boxs">
		<h4 class="box__title">Наши клиенты:</h4>
		<p>
			Медицинский ассистанс: организация скорой медицинской помощи, амбулаторной помощи, плановой и экстренной госпитализации детей и взрослых в ведущие лечебные учреждения в России и за рубежом,  медицинской транспортировки и сопровождения.
		</p>
		<p>
			Страхование детей и взрослых
		</p>
		</div>
	</div>
	<div class="banner">
		<div class="txt__container">
			<div class="banner__box">
				<div class="banner__box--number">1</div>
				<div class="banner__box--desc">
					<div class="banner__box--title"><span>Консультация</span></div>
					<p>
						Медицинский ассистанс: организация скорой медицинской помощи, амбулаторной помощи, плановой и экстренной госпитализации 
						детей и взрослых в ведущие 
					</p>
				</div>
			</div>
			<div class="banner__box">
				<div class="banner__box--number">2</div>
				<div class="banner__box--desc">
					<div class="banner__box--title"><span>Выбор клиники и заключения договора</span></div>
					<p>
						Медицинский ассистанс: организация скорой медицинской помощи, амбулаторной помощи, плановой и экстренной госпитализации 
						детей и взрослых в ведущие Медицинский ассистанс: организация скорой медицинской помощи.
					</p>
				</div>
			</div>
			<div class="banner__box">
				<div class="banner__box--number">3</div>
				<div class="banner__box--desc">
					<div class="banner__box--title"><span>Оформление документов</span></div>
					<p>
						Медицинский ассистанс: организация скорой медицинской помощи, амбулаторной помощи, плановой и экстренной госпитализации 
						детей и взрослых в ведущие Медицинский ассистанс: организация скорой медицинской помощи, амбулаторной 
					</p>
				</div>
			</div>
			<div class="banner__box">
				<div class="banner__box--number">4</div>
				<div class="banner__box--desc">
					<div class="banner__box--title"><span>Прием, лечение и сопровождение</span></div>
					<p>
						Медицинский ассистанс: организация скорой медицинской помощи, амбулаторной помощи, плановой и 
						детей и взрослых в ведущие 
					</p>
				</div>
			</div>
			<div class="banner__box">
				<div class="banner__box--number">5</div>
				<div class="banner__box--desc">
					<div class="banner__box--title"><span>Отдых</span></div>
					<p>
						Медицинский ассистанс: организация скорой медицинской помощи, амбулаторной помощи, плановой и экстренной госпитализации 
						детей и взрослых в ведущие Медицинский ассистанс: организация скорой медицинской помощи
					</p>
				</div>
			</div>
			<div class="banner__box lisence">
				<img src="./images/license.jpg" alt="lisence">
				<a href="#">Лицензия <br> Минздрава России <br> № ЛО-61-01-002268</a>
			</div>
		</div>
	</div>
	<div class="txt__container">
		<div class="txt__wrapper">
		<h2>Заголовок H2.</h2>
		<p>
			Компания «Миссадена» - это многопрофильная медицинская компания (лицензия № ЛО-61-01-002268), оказывающая профессиональную сервисную поддержку в организации услуг в различных сферах жизни человека. Наша цель – обеспечение Вашего комфорта как единства здоровья тела и души, Вашей безопасности и уверенности в завтрашнем дне.
		</p>
		<h3>
			Заголовок Н3. Делаем заголовок нарочито длинным, чтобы убедится в <br>
			правильном интерлиньяже
		</h3>
		<p>
			Наша команда –  это профессионалы, прошедшие серьезную школу работы в ведущих международных сервисных компаниях, это высококвалифицированные врачи со знанием английского, французского, немецкого, испанского языков, имеющие опыт работы в странах Европы и США, это доброжелательные и всегда готовые прийти на помощь медицинские координаторы. Руководствуясь качеством как главным критерием, мы стремимся соответствовать ожиданиям наших клиентов.
		</p>
		<p class="txt__colont">
			Компания «Миссадена» - это многопрофильная медицинская компания (лицензия № ЛО-61-01-002268), оказывающая профессиональную сервисную поддержку в организации услуг в различных сферах жизни человека. Наша цель – обеспечение Вашего комфорта как единства здоровья тела и души, Вашей безопасности <br> и уверенности в завтрашнем дне.
		</p>
		<p class="clearfix"> 
			Наша команда –  это профессионалы, прошедшие серьезную школу работы в ведущих международных сервисных компаниях, это высококвалифицированные врачи со знанием английского, французского, немецкого, испанского языков, имеющие опыт работы в странах Европы и США, это доброжелательные и всегда готовые прийти на помощь медицинские координаторы. Руководствуясь качеством как главным критерием, мы стремимся соответствовать ожиданиям наших клиентов.
			<span class="img__float">
				<img src="./images/content-img_305-203.jpg" alt="foto">
			</span>
			Компания «Миссадена» - это многопрофильная медицинская компания (лицензия № ЛО-61-01-002268), оказывающая профессиональную сервисную поддержку в организации услуг в различных сферах жизни человека. Наша цель – обеспечение Вашего комфорта как единства здоровья тела и души, Вашей безопасности и уверенности в завтрашнем дне. Наша команда –  это профессионалы, прошедшие серьезную школу работы в ведущих международных сервисных компаниях, это высококвалифицированные врачи со знанием английского, французского, немецкого, испанского языков, имеющие опыт работы в странах Европы и США, это доброжелательные и всегда готовые прийти на помощь медицинские координаторы. 
			Руководствуясь качеством как главным критерием, мы стремимся соответствовать ожиданиям наших клиентов. Наша команда –  это профессионалы, прошедшие серьезную школу работы в ведущих международных сервисных компаниях, это высококвалифицированные врачи со знанием английского, французского, немецкого, испанского языков, имеющие опыт работы в странах Европы и США, это доброжелательные и всегда готовые прийти на помощь медицинские координаторы. Руководствуясь качеством как главным критерием, мы стремимся соответствовать ожиданиям наших клиентов.
		</p>
		</div>
		<div class="txt__row">
			<div class="txt__box stnd">
				<div class="box__img">
					<img src="./images/content-img_300-200.jpg" alt="foto">
				</div>
				<p>
					Медицинский ассистанс: организация скорой медицинской помощи, амбулаторной помощи, плановой и экстренной госпитализации детей и взрослых в ведущие лечебные учреждения в России и за рубежом,  медицинской транспортировки и сопровождения.
				</p>
			</div>
			<div class="txt__box stnd">
				<div class="box__img">
					<img src="./images/content-img_2-300-200.jpg" alt="foto">
				</div>
				<p>
					Медицинский ассистанс: организация скорой медицинской помощи, амбулаторной помощи, плановой и экстренной госпитализации детей и взрослых в ведущие лечебные учреждения в России и за рубежом,  медицинской транспортировки и сопровождения.
				</p>	
			</div>
			<div class="txt__box stnd">
				<div class="box__img">
					<img src="./images/content-img_3-300-200.jpg" alt="foto">
				</div>
				<p>
					Медицинский ассистанс: организация скорой медицинской помощи, амбулаторной помощи, плановой и экстренной госпитализации детей и взрослых в ведущие лечебные учреждения в России и за рубежом,  медицинской транспортировки и сопровождения.
				</p>
			</div>
		</div>
		<div class="txt__row">
			<img class="img__full" src="./images/content-img_1166-429.jpg" alt="foto">
			<div class="txt__box txt__box--50">
				<p>
					Медицинский ассистанс: организация скорой медицинской помощи, амбулаторной помощи, плановой и экстренной госпитализации детей и взрослых в ведущие лечебные учреждения в России и за рубежом,  медицинской транспортировки и сопровождения. медицинской транспортировки и сопровождения.
				</p>
			</div>
			<div class="txt__box txt__box--50">
				<p>
					Медицинский ассистанс: организация скорой медицинской помощи, амбулаторной помощи, плановой и экстренной госпитализации детей и взрослых в ведущие лечебные учреждения в России и за рубежом,  медицинской транспортировки и сопровождения. медицинской транспортировки и сопровождения.
				</p>
			</div>
		</div>
		<div class="txt__row">

			<table class="table">
				<thead>
					<tr>
						<th>Название столбца</th>
						<th>Название столбца</th>
						<th>Название столбца</th>
						<th>Название столбца</th>
						<th>Название столбца</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>элемент таблицы</td>
						<td>элемент таблицы</td>
						<td>элемент таблицы</td>
						<td>элемент таблицы</td>
						<td>элемент таблицы</td>
					</tr>
					<tr>
						<td>элемент таблицы</td>
						<td>элемент таблицы</td>
						<td>элемент таблицы</td>
						<td>элемент таблицы</td>
						<td>элемент таблицы</td>
					</tr>
					<tr>
						<td>элемент таблицы</td>
						<td>элемент таблицы</td>
						<td>элемент таблицы</td>
						<td>элемент таблицы</td>
						<td>элемент таблицы</td>
					</tr>
					<tr>
						<td>элемент таблицы</td>
						<td>элемент таблицы</td>
						<td>элемент таблицы</td>
						<td>элемент таблицы</td>
						<td>элемент таблицы</td>
					</tr>
				</tbody>
			</table>
			<div class="table__desc">
					Комментарии к таблице (внизу небольшим шрифтом)
			</div>

			<!-- <div class="txt__table">
				<div class="table__row table__row--title">
					<div class="table__cell">Название столбца</div>
					<div class="table__cell">Название столбца</div>
					<div class="table__cell">Название столбца</div>
					<div class="table__cell">Название столбца</div>
					<div class="table__cell">Название столбца</div>
				</div>
				<div class="table__row">
					<div class="table__cell">элемент таблицы</div>
					<div class="table__cell">элемент таблицы</div>
					<div class="table__cell">элемент таблицы</div>
					<div class="table__cell">элемент таблицы</div>
					<div class="table__cell">элемент таблицы</div>
				</div>
				<div class="table__row">
					<div class="table__cell">элемент таблицы</div>
					<div class="table__cell">элемент таблицы</div>
					<div class="table__cell">элемент таблицы</div>
					<div class="table__cell">элемент таблицы</div>
					<div class="table__cell">элемент таблицы</div>
				</div>
				<div class="table__row">
					<div class="table__cell">элемент таблицы</div>
					<div class="table__cell">элемент таблицы</div>
					<div class="table__cell">элемент таблицы</div>
					<div class="table__cell">элемент таблицы</div>
					<div class="table__cell">элемент таблицы</div>
				</div>
				<div class="table__row">
					<div class="table__cell">элемент таблицы</div>
					<div class="table__cell">элемент таблицы</div>
					<div class="table__cell">элемент таблицы</div>
					<div class="table__cell">элемент таблицы</div>
					<div class="table__cell">элемент таблицы</div>
				</div>
				<div class="table__desc">
					Комментарии к таблице (внизу небольшим шрифтом)
				</div>
			</div> -->
			
		</div>
		<div class="txt__row">
			<p class="text__small">
				Медицинский ассистанс: организация скорой медицинской помощи, амбулаторной помощи, плановой и экстренной госпитализации детей и взрослых в ведущие лечебные учреждения в России и за рубежом,  медицинской транспортировки и сопровождения. Страхование детей и взрослых.  Круглосуточная информационная поддержка. Медицинский ассистанс: организация скорой медицинской помощи, амбулаторной помощи, плановой и экстренной госпитализации детей и взрослых в 
			</p>
			<ul class="txt__list txt__list--dash">
				<li>Ведущие лечебные учреждения в России и за рубежом</li>
				<li>Медицинской транспортировки и сопровождения</li>
				<li>Страхование детей и взрослых</li>
				<li>Круглосуточная информационная поддержка</li>
			</ul>
			<ul class="txt__list txt__list--number">
				<li>Ведущие лечебные учреждения в России и за рубежом</li>
				<li>Медицинской транспортировки и сопровождения</li>
				<li>Страхование детей и взрослых</li>
				<li>Круглосуточная информационная поддержка</li>
			</ul>
		</div>
	</div>
</div>