<header class="header">
    <div class="head__container">
        <div class="head__row">
            <div class="head__box logo">
                <a href="index.html">
                    <img src="./images/logo.png" height="128" width="110" alt="logo">
                </a>
            </div>
            <div class="head__box head__desc">
                Международная <br>
                многопрофильная <br>
                сервисная компания
            </div>
            <div class="head__box list__small--nav">
                <ul>
                    <li><a href="bid.html">О компании</a></li>
                    <li><a href="clinics.html">Медицинские учреждения</a></li>
                    <li><a href="contacts.html">Контакты</a></li>
                </ul>
            </div>
            <div class="head__box">
                <div class="lang">
                    <a href="#" class="lang__box lang__box--en">en</a>
                    <a href="#" class="lang__box lang__box--ru">ru</a>
                    <a href="#" class="lang__box lang__box--ger">ger</a>
                    <a href="#" class="lang__box lang__box--fra">fra</a>
                </div>
                <div class="phone">
                    <div class="phone__number">+7 499 504-04-03</div>
                    <div class="phone__label">
                        <span>Звоните круглосуточно</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="head__row">
            <div class="head__tabs">
                <a class="active" href="#">Физическим лицам</a>
                <a href="#">Корпоративным клиентам</a>
            </div>
            <div class="search">
                <label for="search" hidden></label>
                <input id="search" type="text">
                <span class="search__help">Поиск по сайту. <i>Например, "Вызов врача"</i></span>
            </div>
        </div>
    </div>
</header>
<nav class="nav">
    <div class="main-menu">
        <ul>
            <li><a href="#">Оперативная помощь</a></li>
            <li><a href="#">Лечение</a></li>
            <li><a href="#">Исследования</a></li>
            <li><a href="#">Доставка медицинских препаратов</a></li>
            <li><a href="individ.html">Дополнительно</a></li>
        </ul>
    </div>
</nav>