<div class="feedback--full">
	<h3 class="feedback__title">Связаться с нами</h3>
	<a href="tel:+74995040403" class="feedback__tel">+7 499 504-04-03</a>
	<p class="feedback__subinfo">круглосуточно</p>
	<form action="#">
		<div class="label__wrap">
			<label for="email" hidden></label>
			<input type="text" "email" required class="label__def">
			<span class="placeholder">Ваш e-mail</span>
		</div>
		<div class="label__wrap">
			<label for="name" hidden></label>
			<input type="text" id="name" required class="label__def">
			<span class="placeholder">Ваше имя</span>
		</div>
		<div class="label__wrap label__wrap--textarea">
			<label for="comment" hidden></label>
			<textarea name="comment" id="comment" class="label__textarea" required></textarea>
			<span class="placeholder">Ваше сообщение</span>
		</div>
		<button type="submit" class="button button--blue">
			онлайн-заявка
		</button>
	</form>
</div>