
<div class="contacts__row form__min">
	<div class="contacts__container">
		<form action="#">
			<div class="form__box">
				<h2 class="form__title">Сделайте первый шаг на пути выздоровления</h2>
				<p class="form__desc">Наши специалисты проконсультируют вас и предложат решение проблемы</p>
			</div>
			<div class="form__box">
				<div class="label__wrap">
					<label for="name" hidden></label>
					<input type="text" id="name" required class="label__def">
					<span class="placeholder">Ваше имя</span>
				</div>
				<div class="label__wrap">
					<label for="city" hidden></label>
					<input type="text" id="city" required class="label__def">
					<span class="placeholder">Ваш город</span>
				</div>
				<div class="label__wrap">
					<label for="email" hidden></label>
					<input type="text" "email" required class="label__def">
					<span class="placeholder">Ваш e-mail</span>
				</div>
			</div>
			<div class="form__box">
				<div class="label__wrap label__wrap--textarea">
					<label for="comment" hidden></label>
					<textarea name="comment" id="comment" class="label__textarea" required></textarea>
					<span class="placeholder">Ваше сообщение</span>
				</div>
				<button type="submit" class="button button--blue">
					Отправить
					<span class="btn-arr"></span>
				</button>
			</div>
		</form>
	</div>
</div>