<div class="slider__main">
	<div class="slider__main--navblock">
		<div class="slider__box">
			<ul class="slider__wrapper--desc">
				<li>
					<div class="slider__anim block">
						<h3 class="anim__title">Современное оборудование</h3>
						<p class="anim__subtitle">для диагностики и лечения</p>
						<p class="anim__desc">
							Компания «Миссадена» - это многопрофильная медицинская компания (лицензия № ЛО-61-01-002268), оказывающая профессиональную сервисную поддержку в организации услуг в различных сферах жизни человека.
						</p>
					</div> 
				</li>
			</ul>
			<div class="slider__indicator">
				<ul>
					<li class="slider__ind"></li>
					<li class="slider__ind"></li>
					<li class="slider__ind"></li>
					<li class="slider__ind active"></li>
					<li class="slider__ind"></li>
				</ul>
			</div>
			<a href="#" class="button button--gray button--arr">Подробнее</a>
			<a href="#" class="nav nav--prev"></a>
			<a href="#" class="nav nav--next"></a>
		</div>
	</div>
	<ul class="slider__wrapper">
		<li>
			<img src="./images/slide-2.jpg" alt="foto">
		</li>
	</ul>
</div>