<div class="slider__big">
	<a href="#" class="nav nav--prev"></a>
	<a href="#" class="nav nav--next"></a>
	<div class="slider__big--window">
		<ul class="slider__wrapper">
			<li>
				<img src="./images/slider-big.jpg" alt="foto">
			</li>
			<li>
				<img src="./images/slider-big.jpg" alt="foto">
			</li>
			<li>
				<img src="./images/slider-big.jpg"alt="foto">
			</li>
			<li>
				<img src="./images/slider-big.jpg" alt="foto">
			</li>
			<li>
				<img src="./images/slider-big.jpg" alt="foto">
			</li>
			<li>
				<img src="./images/slider-big.jpg" alt="foto">
			</li>
		</ul>
	</div>
	<div class="slider__preview">
		<ul>
			<li class="slider__ind active"><img src="./images/slider_smal1.jpg" height="100" width="150" alt="foto"></li>
			<li class="slider__ind"><img src="./images/slider_smal2.jpg" height="100" width="150" alt="foto"></li>
			<li class="slider__ind"><img src="./images/slider_smal3.jpg" height="100" width="150" alt="foto"></li>
			<li class="slider__ind"><img src="./images/slider_smal4.jpg" height="100" width="150" alt="foto"></li>
			<li class="slider__ind"><img src="./images/slider_smal5.jpg" height="100" width="150" alt="foto"></li>
			<li class="slider__ind"><img src="./images/slider_smal6.jpg" height="100" width="150" alt="foto"></li>
		</ul>
	</div>
</div>