<div class="slider__head">
	<div class="slider__title">
		<h2>
			Какой должна быть атмосфера <br>
			вашей кухни:
		</h2>
	</div>
	<div class="slider__indicator">
		<ul>
			<li class="slider__ind active">Уютной</li>
			<li class="slider__ind">Семейной</li>
			<li class="slider__ind">Современной</li>
			<li class="slider__ind">Классической</li>
		</ul>
	</div>
	<div class="slider__main">
		<ul class="slider__wrapper">
			<li>
				<div class="slider__img">
					<img src="./images/slide_pic.jpg" height="400" width="1050" alt="slide1">
				</div>
				<div class="slider__points">
					<div class="slider__anim point point--1" data-time="250" data-x="400" data-y="222">
						<div class="point__tooltip">
							<div class="point__tooltip--good">Раковина</div>
							<div class="point__tooltip--name">Lagor pure 45</div>
							<div class="point__tooltip--prod">от Villeroy & Bosch</div>
							<div class="point__tooltip--link"><a href="#">Cмотреть детали</a></div>
						</div>
					</div>
					<div class="slider__anim point point--2" data-time="500" data-x="632" data-y="102">
						<div class="point__tooltip">
							<div class="point__tooltip--good">Раковина</div>
							<div class="point__tooltip--name">Lagor pure 45</div>
							<div class="point__tooltip--prod">от Villeroy & Bosch</div>
							<div class="point__tooltip--link"><a href="#">смотреть детали</a></div>
						</div>
					</div>
					<div class="slider__anim point point--3" data-time="850" data-x="830" data-y="295">
						<div class="point__tooltip">
							<div class="point__tooltip--good">Раковина</div>
							<div class="point__tooltip--name">Lagor pure 45</div>
							<div class="point__tooltip--prod">от Villeroy & Bosch</div>
							<div class="point__tooltip--link"><a href="#">смотреть детали</a></div>
						</div>
					</div>
				</div>
				<div class="slider__anim block block--cost" data-time="1200">
					<div class="block--cost__name">Кухня Модерн</div>
					<div class="block--cost__desc">
						<p>Индивидуальный заказ.</p> 
						<p>Площадь кухни 10 <span>2</span>м</p>
					</div>
					<div class="block--cost__summ">от 26 987 руб.</div>
					<div class="block--cost__btn"><a href="#" class="button">смотреть детали</a></div>
				</div>
			</li>
			<li>
				<div class="slider__img">
					<img src="./images/slide_pic.jpg" height="400" width="1050" alt="slide1">
				</div>
				<div class="slider__points">
					<div class="slider__anim point point--1" data-time="250" data-x="500" data-y="322">
						<div class="point__tooltip">
							<div class="point__tooltip--good">Раковина</div>
							<div class="point__tooltip--name">Lagor pure 45</div>
							<div class="point__tooltip--prod">от Villeroy & Bosch</div>
							<div class="point__tooltip--link"><a href="#">Cмотреть детали</a></div>
						</div>
					</div>
					<div class="slider__anim point point--2" data-time="500" data-x="332" data-y="302">
						<div class="point__tooltip">
							<div class="point__tooltip--good">Раковина</div>
							<div class="point__tooltip--name">Lagor pure 45</div>
							<div class="point__tooltip--prod">от Villeroy & Bosch</div>
							<div class="point__tooltip--link"><a href="#">смотреть детали</a></div>
						</div>
					</div>
					<div class="slider__anim point point--3" data-time="800" data-x="130" data-y="195">
						<div class="point__tooltip">
							<div class="point__tooltip--good">Раковина</div>
							<div class="point__tooltip--name">Lagor pure 45</div>
							<div class="point__tooltip--prod">от Villeroy & Bosch</div>
							<div class="point__tooltip--link"><a href="#">смотреть детали</a></div>
						</div>
					</div>
				</div>
				<div class="slider__anim block block--cost" data-time="1100">
					<div class="block--cost__name">Кухня Модерн2</div>
					<div class="block--cost__desc">
						<p>Индивидуальный заказ.</p> 
						<p>Площадь кухни 10 <span>2</span>м</p>
					</div>
					<div class="block--cost__summ">от 26 987 руб.</div>
					<div class="block--cost__btn"><a href="#" class="button">смотреть детали</a></div>
				</div>
			</li>
			<li>
				<div class="slider__img">
					<img src="./images/slide_pic.jpg" height="400" width="1050" alt="slide1">
				</div>
				<div class="slider__points">
					<div class="slider__anim point point--1" data-time="200" data-x="450" data-y="122">
						<div class="point__tooltip">
							<div class="point__tooltip--good">Раковина</div>
							<div class="point__tooltip--name">Lagor pure 45</div>
							<div class="point__tooltip--prod">от Villeroy & Bosch</div>
							<div class="point__tooltip--link"><a href="#">Cмотреть детали</a></div>
						</div>
					</div>
					<div class="slider__anim point point--2" data-time="500" data-x="932" data-y="302">
						<div class="point__tooltip">
							<div class="point__tooltip--good">Раковина</div>
							<div class="point__tooltip--name">Lagor pure 45</div>
							<div class="point__tooltip--prod">от Villeroy & Bosch</div>
							<div class="point__tooltip--link"><a href="#">смотреть детали</a></div>
						</div>
					</div>
					<div class="slider__anim point point--3" data-time="800" data-x="630" data-y="295">
						<div class="point__tooltip">
							<div class="point__tooltip--good">Раковина</div>
							<div class="point__tooltip--name">Lagor pure 45</div>
							<div class="point__tooltip--prod">от Villeroy & Bosch</div>
							<div class="point__tooltip--link"><a href="#">смотреть детали</a></div>
						</div>
					</div>
				</div>
				<div class="slider__anim block block--cost" data-time="1100">
					<div class="block--cost__name">Кухня Модерн3</div>
					<div class="block--cost__desc">
						<p>Индивидуальный заказ.</p> 
						<p>Площадь кухни 10 <span>2</span>м</p>
					</div>
					<div class="block--cost__summ">от 26 987 руб.</div>
					<div class="block--cost__btn"><a href="#" class="button">смотреть детали</a></div>
				</div>
			</li>
			<li>
				<div class="slider__img">
					<img src="./images/slide_pic.jpg" height="400" width="1050" alt="slide1">
				</div>
				<div class="slider__points">
					<div class="slider__anim point point--1" data-time="200" data-x="160" data-y="122">
						<div class="point__tooltip">
							<div class="point__tooltip--good">Раковина</div>
							<div class="point__tooltip--name">Lagor pure 45</div>
							<div class="point__tooltip--prod">от Villeroy & Bosch</div>
							<div class="point__tooltip--link"><a href="#">Cмотреть детали</a></div>
						</div>
					</div>
					<div class="slider__anim point point--2" data-time="500" data-x="632" data-y="102">
						<div class="point__tooltip">
							<div class="point__tooltip--good">Раковина</div>
							<div class="point__tooltip--name">Lagor pure 45</div>
							<div class="point__tooltip--prod">от Villeroy & Bosch</div>
							<div class="point__tooltip--link"><a href="#">смотреть детали</a></div>
						</div>
					</div>
					<div class="slider__anim point point--3" data-time="800" data-x="430" data-y="295">
						<div class="point__tooltip">
							<div class="point__tooltip--good">Раковина</div>
							<div class="point__tooltip--name">Lagor pure 45</div>
							<div class="point__tooltip--prod">от Villeroy & Bosch</div>
							<div class="point__tooltip--link"><a href="#">смотреть детали</a></div>
						</div>
					</div>
				</div>
				<div class="slider__anim block block--cost" data-time="1100">
					<div class="block--cost__name">Кухня Модерн4</div>
					<div class="block--cost__desc">
						<p>Индивидуальный заказ.</p> 
						<p>Площадь кухни 10 <span>2</span>м</p>
					</div>
					<div class="block--cost__summ">от 26 987 руб.</div>
					<div class="block--cost__btn"><a href="#" class="button">смотреть детали</a></div>
				</div>
			</li>
		</ul>
		<a href="#" class="nav nav--prev"></a>
		<a href="#" class="nav nav--next"></a>
	</div>
</div>