<footer class="footer">
	<div class="footer__container">
		<div class="footer__box logo">
			<img src="./images/logo.png" height="128" width="110" alt="logo">
		</div>
		<div class="footer__box about">
			<span>&copy; 2010&mdash;2015</span> <br>
			Международная <br>
			многопрофильная <br>
			сервисная компания <br>
			ООО "МИССАДЕНА"
		</div>
		<div class="footer__box">
			<ul class="company__nav">
				<li><a href="#">О компании</a></li>
				<li><a href="#">Страховым копаниям</a></li>
				<li><a href="#">Медучереждения</a></li>
			</ul>
			<div class="main-menu main-menu--small">
				<ul>
					<li><a href="#">Оперативная помощь</a></li>
					<li><a href="#">Лечение</a></li>
					<li><a href="#">Исследования</a></li>
					<li><a href="#">Доставка медицинских препаратов</a></li>
					<li><a href="#">Дополнительно</a></li>
				</ul>
			</div>
			<div class="footer__row">
				<div class="footer__box footer__box--three">
					<div class="socials">
						<a class="socials__icon socials__icon--vk" href="#"></a>
						<a class="socials__icon socials__icon--fb" href="#"></a>
						<a class="socials__icon socials__icon--tw" href="#"></a>
						<a class="socials__icon socials__icon--in" href="#"></a>
					</div>
				</div>
				<div class="footer__box footer__box--three phone">
					<a class="phone__number phone__number--small" href="tel:+7499504-04-03">+7 499 504-04-03</a>
					<div><a class="contact__info" href="#">Контактая информация</a></div>
				</div>
				<div class="footer__box footer__box--three">
					<div class="develop">
						<p>Создание сайта:</p>
						<a class="develop__img" href="#">
							<img src="./images/web-element.jpg" height="31" width="131" alt="web element">
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>