@@include('../components/head/head.html')

<body>

	@@include('../components/noscript/noscript.html')

	<div class="container">

		@@include('../components/header/header.html')

		<main>
			
			@@include('../components/individ/individ.html')

		</main>

	</div>

	@@include('../components/footer/footer.html')

	@@include('../components/scripts/scripts.html')

	<script>
		$('.slider__main').sliderShop({
	        caseLimit: 1, //кол-во товаров в витрине
	        spaceSection: 'auto', //расстояние между секциями
	        animation: 'slide', //тип анимации
	        count: true, // счетчик слайдов
	        countBox: 'slider__ind', //селектор списка
	        countSelect: true, //выбор по индикатору
	        timer: 6000, //автопереключение
	        repeat: true, //показ слайдов по кругу
	        animBox: 'slider__anim', // всплывающие блоки - $(селектор)
	        response: false,
	        tooltip: 'tooltip'
	    });

	    $('.individ__tabs').tab(false, 0);
	</script>

</body>
</html>
