<div class="contacts">
	<div class="contacts__container">
		@@include('../breadcrumbs/breadcrumbs.html')

		<h1>Контактная информация</h1>
	</div>
	<div class="contacts__row contacts__row--colorize">
		<div class="contacts__container info">
			<p class="info__tel">Телефон: <a href="tel:+74995040403">+7 499 504-04-03</a></p>
			<p class="info__adr">Юридический и фактический адресс: 129090 г.Москва, ул Щепкина, д.28</p>
			<p class="info__week">Без перерыва и выходных!</p>
			<p class="info__fax">Факс: <a href="tel:+74995040403">+7 499 504-04-03</a></p>
			<p class="info__email">Эл. адрес: <a href="mailto:info@missadena.com">info@missadena.com</a></p>
			<p class="info__skype">Skype: <a href="skype:missadena">MISSADENA</a></p>
		</div>
	</div>
	<div class="contacts__container">
		<div class="contacts__box info__block">
			<h3>Экстренная и плановая помощь</h3>
			<p>По вопросам организации экстренной или плановой медицинской помощи:</p>
			<p class="info__email">Эл. адрес: <a href="mailto:medical@missadena.com">medical@missadena.com</a></p>
			<p>Моб.: +7 916 800-59-64</p>
		</div>
		<div class="contacts__box info__block">
			<h3>Сотрудничество</h3>
			<p>По вопросам организации экстренной или плановой медицинской помощи:</p>
			<p class="info__email">Эл. адрес: <a href="mailto:medical@missadena.com">medical@missadena.com</a></p>
			<p>Моб.: +7 916 800-59-64</p>
		</div>
		<div class="contacts__box info__block">
			<h3>Бухгалтерия</h3>
			<p>По вопросам организации экстренной или плановой медицинской помощи:</p>
			<p class="info__email">Эл. адрес: <a href="mailto:medical@missadena.com">medical@missadena.com</a></p>
			<p>Моб.: +7 916 800-59-64</p>
		</div>
	</div>
	<div class="contacts__container">
		<div id="map"></div>
	</div>
	@@include('../form-row/form-row.html')	
</div>