$clr-bg2: #3dafbb;
$clr-bg3: #ceebee;
$clr-bg: #18a0ae;
$clr-btn: #1eb6c0;
$clr-dark: #444;
$clr-gray: #999;
$clr-gray-lite: #e9e9e9;
$clr-light: #dceeff;
$clr-text: #0c7883;
$clr-text2: #12565f;
$clr-input: #99d5db;
$clr-text-adv: #9bfffb;


