<div class="clinics">
	<div class="clinics__container">
		@@include('../breadcrumbs/breadcrumbs.html')
		<h1>Выбор клиники</h1>
		<div class="search__box">
			<div class="search__desc">
				Чтобы найти ближайшие к вам медицинские учреждения, укажите, в каком городе вы находитесь
			</div>
			<div class="search__block">
                <label for="search-city" hidden></label>
                <input id="search-city" type="text" class="search__city">
                <span class="search__help"></span>
			</div>
		</div>
		<div class="clinics__adr">
			<p>
				ФГУ "Национальный медико-хирургический Центр им. Н.И. Пирогова" Министерстава здравоохранения и социального развития РФ
			</p>
			<a href="#" class="clinics__link">Посмотреть на карте</a>
		</div>
		<div class="clinics__adr">
			<p>
				ФГУ "Национальный медико-хирургический Центр им. Н.И. Пирогова" Министерстава здравоохранения и социального развития РФ
			</p>
			<a href="#" class="clinics__link">Посмотреть на карте</a>
		</div>
		<div class="clinics__adr">
			<p>
				ФГУ "Национальный медико-хирургический Центр им. Н.И. Пирогова" Министерстава здравоохранения и социального развития РФ
			</p>
			<a href="#" class="clinics__link">Посмотреть на карте</a>
		</div>
		<div class="clinics__adr">
			<p>
				ФГУ "Национальный медико-хирургический Центр им. Н.И. Пирогова" Министерстава здравоохранения и социального развития РФ
			</p>
			<a href="#" class="clinics__link">Посмотреть на карте</a>
		</div>
		<div class="clinics__adr">
			<p>
				ФГУ "Национальный медико-хирургический Центр им. Н.И. Пирогова" Министерстава здравоохранения и социального развития РФ
			</p>
			<a href="#" class="clinics__link">Посмотреть на карте</a>
		</div>
		<div class="clinics__adr">
			<p>
				ФГУ "Национальный медико-хирургический Центр им. Н.И. Пирогова" Министерстава здравоохранения и социального развития РФ
			</p>
			<a href="#" class="clinics__link">Посмотреть на карте</a>
		</div>
		<div class="clinics__adr">
			<p>
				ФГУ "Национальный медико-хирургический Центр им. Н.И. Пирогова" Министерстава здравоохранения и социального развития РФ
			</p>
			<a href="#" class="clinics__link">Посмотреть на карте</a>
		</div>
	</div>
	<aside>
		<div class="aside">
			@@include('../aside/aside-block1.html')
			@@include('../aside/aside-block3.html')
		</div>
	</aside>
</div>