<div class="individ">
	<div class="individ__container">
		@@include('../breadcrumbs/breadcrumbs.html')

		<div class="slider__small--wrap">
			@@include('../sliders/slider.html')
		</div>

		<div class="individ__row">
			<div class="individ__tabs">
				<ul>
					<li><a data-tab="individ__desc--1" href="#" class="active"><span>выезд врача</span></a></li>
					<li><a data-tab="individ__desc--2" href="#"><span>скорая помощь</span></a></li>
					<li><a data-tab="individ__desc--3" href="#"><span>медицинская эвакуация</span></a></li>
				</ul>
			</div>
			<div class="individ__desc">
				<div class="individ__desc--1">
					<p>
						Круглосуточный диспетчерский центр с персоналом, владеющим иностранными языками, а также команда докторов, имеющих российские и зарубежные сертификаты по оказанию экстренной медицинской помощи, всегда готовы прийти на помощь и дать совет в неотложной ситуации Услуга сертифицирована по международным стандартам ISO 9001-2008.
					</p>
					<div class="link">
						<a href="#" class="button button--gray">оставить заявку</a>
						<a href="#" class="link__clinic">Найти ближайшую клинику</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
@@include('../form-row/form-row.html')



